<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>number-9.png</key>
		<dict>
			<key>frame</key>
			<string>{{64, 0}, {7,10 }}</string>
		</dict>
		<key>number-8.png</key>
		<dict>
			<key>frame</key>
			<string>{{57, 0}, {7,10 }}</string>
		</dict>
		<key>number-7.png</key>
		<dict>
			<key>frame</key>
			<string>{{50, 0}, {7,10 }}</string>
		</dict>
		<key>number-6.png</key>
		<dict>
			<key>frame</key>
			<string>{{43, 0}, {7,10 }}</string>
		</dict>
		<key>number-5.png</key>
		<dict>
			<key>frame</key>
			<string>{{36, 0}, {7,10 }}</string>
		</dict>
		<key>number-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{29, 0}, {7,10 }}</string>
		</dict>
		<key>number-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{22, 0}, {7,10 }}</string>
		</dict>
		<key>number-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{15, 0}, {7,10 }}</string>
		</dict>
		<key>number-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{10, 0}, {5,10 }}</string>
		</dict>
		<key>number-0.png</key>
		<dict>
			<key>frame</key>
			<string>{{3, 0}, {7,10 }}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>1</integer>
		<key>size</key>
		<string>{512, 1136}</string>
	</dict>
</dict>
</plist>
